<!DOCTYPE html>
<html>
<head>
    <title>BoulderDB — {% block title %}{% endblock %}</title>
</head>
<body>

<div>
    <h1>BoulderDB</h1>

    <div>
        {% block content %}{% endblock %}
    </div>
</div>

</body>
</html>