{% extends "components/base.html.twig" %}

{% block title %}Error notification{% endblock %}

{% block content %}
    <p>
        Please use the following <a href="{{ link }}">link</a> to reset your password.
    </p>
{% endblock %}